@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{ width:100%; font-family: 'twayair'}

#wrap {max-width: 1200px; margin:0 auto; padding:20px 10px; position:relative; background-color: #fff; }

#top_wrap {background:#fff; padding: 10px 20px; border-radius:5px; text-align: center; display:flex; margin-bottom: 40px;}

#left_dv {
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    background: #fff;
    margin-right: 10px;
    
}

#right_dv { width:500px; background: #222; width:50%; color:#fff;  padding: 15px;border-radius: 5px; text-align: right; box-shadow: 5px 5px 5px black;}
#right_dv > h3 {text-align: left;}

#issue_wrap {background-color: #eee; padding:10px; border-radius:5px; border:1px solid #ddd;}

.btns{ display: inline-block; width:auto;}

#table_wrap{padding:5px;}

.fa-times {color:red}
.fa-check {color:#2DB400}


#uid {width:80%;
display:inline-block}

#sbj {text-align: center;
font-size: 40px;
margin-bottom: 40px;
border-bottom:1px solid #ddd;
padding: 30px 0;
font-family:'ONE-Mobile-POP';}

#sig {
    text-align: right;
    font-size:15px;
    color:#5a5a5a;
    margin-right:15px;
}

.neonText {
color: #fff;
text-shadow:
/* White glow */
0 0 7px #fff,
0 0 10px #fff,
0 0 21px #fff,
/* Green glow */
0 0 42px #0fa,
0 0 82px #0fa,
0 0 92px #0fa,
0 0 102px #0fa,
0 0 151px #0fa;
}




a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}



@media screen and (max-width: 768px) {
    #top_wrap {
        display: block;
    }

    #right_dv {
        width:100%;
       
    }

    #uid {
        width:70%;
    }

    #left_dv {
        width: 100%;
        padding:0px;
        margin-bottom:10px;
    }

    #table_wrap {
        padding: 20px;
        font-size:9px
    }

    .neonText{
        color: #fff;
        text-shadow: 0 0 black;
    }

    #sbj {
        font-size: 20px;
    }

    #sig {
        font-size:12px;
    }    
}
